.env
frontend

/frontend/*
/node_modules/*
/Azure_Function/*
!frontend/
!frontend/src/
!frontend/src/index.tsx
!frontend/src/authConfig.ts
!frontend/src/pages/
/app/__pycache__/*
/new_oshietena/__pycache__/*
/__pycache__/*

# Pythonキャッシュファイル
**/__pycache__/
*/__pycache__/*

