.env
# frontend

# /frontend/*
# node_modules/
**/node_modules/
# !frontend/
# !frontend/src/
# !frontend/src/index.tsx
# !frontend/src/authConfig.ts
# !frontend/src/pages/
/app/__pycache__/*
/new_oshietena/__pycache__/*
/__pycache__/*

# # Pythonキャッシュファイル
**/__pycache__/
*/__pycache__/*

frontend/.env.local