<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/build/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Azure OpenAI + AI Search</title>
      <script type="module" crossorigin src="/build/assets/index-BWef1knH.js"></script>
      <link rel="modulepreload" crossorigin href="/build/assets/fluentui-react-B1qYnP8_.js">
      <link rel="modulepreload" crossorigin href="/build/assets/vendor-C5WNPqVg.js">
      <link rel="modulepreload" crossorigin href="/build/assets/fluentui-icons-BLJq5unN.js">
      <link rel="stylesheet" crossorigin href="/build/assets/index-CHbB8Ojb.css">
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
